<div class="card text-center">
<div class="bg-image">
    <div class="bg-mask">
  <div class="card-header my-font2">
    <h2>普通の掲示板</h2>

  </div>
   </div>
      </div>
  <div class="card-body">
    <h5 class="card-title">他に作成したもの</h5>
    <p class="card-text">下記ボタンを押すと他のコンテンツへ飛びます。</p>
    <p><a href="{% url 'blog:index' %}"><button type="button" class="btn btn-primary">まだこのコンテンツは未実装です。 </button></a></p>
    </div>
  <div class="card-footer text-muted my-font1">
    <p>Thank you for watching</p>
  </div>
</div>

