<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark my-opacity1 my-font1">
  <a class="navbar-brand" href="{% url 'blog:index' %}">普通の掲示板</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/list">記事一覧へ</a>
      </li>

      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:connect_logout' %}">ログアウト</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:login' %}">ログイン</a>
      </li>

      {% endif %}

      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:post' %}">記事を投稿する</a>
      </li>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:account_create' %}">アカウント作成</a>
      </li>

      {% endif %}

      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:user_page' user.id %}">ユーザーページ</a>
      </li>

      {% else %}

      {% endif %}

    </ul>
    <!--検索窓。-->

    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="記事を検索" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
    </form> -->
  </div>
</nav>