{% extends 'base.html' %}
{% block content %}

{% include "blog/include/header_default.html" %}

<br><br><br>
<h1>記事投稿</h1>
    <form action="", method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <p>カテゴリ</p>
            <p>{{ form.category }}</p>
         <p>タグ</p>
        <p>{{ form.tags }}</p>
        <p>タイトル</p>
           <p> {{ form.title }}</p>
        <p>記事</p>
        <p>{{ form.content }}</p>
        <p>その他</p>
        <p>{{ form.description }}</p>
        <p>{{ form.image }}</p>
        <p>{{form.username.as_hidden}}</p>
        <p><button type="submit">投稿</button></p>
    </form>

{% endblock %}