{% extends 'base.html' %} <!-- 追加 -->
{% block content %} <!-- 追加 -->
{% include "blog/include/header_search.html" %}
<br><br><br>
<div class="container-fluid">

    <div class="row">
		<div class="col-lg-2">
        </div>
      <div class="col-lg-8">
<div class="my-font2"><h1>{{user.username}}さんの投稿一覧</h1></div>

<ul class="list-group my-font2">
{%  for post in object_list %}
{% if user.username == post.username %}
<li class="list-group-item"><p><a href="{% url 'blog:list_detail' post.id %}">{{post.title}}</a></p>
<p>投稿日時:{{post.timestamp}}</p>
<p><a href="{% url 'blog:list_detail' post.id %}"><button type="button" class="btn btn-primary">記事を読む </button></a></p>
</li>
  <br><br>

{% endif %}
{% endfor %}
</ul>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
<!--{% include "blog/include/pagenated.html" %}-->
</div>
{% endblock %}
